@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-optical-sizing: auto;
  font-family: "Tajawal", sans-serif;
}

:root {
  --primary-50: #127591;
  --primary-100: #0085ff;
  --primary-200: #1ec8f7;
  --primary-700: #212d5d;
  --foucs: #4b5563;
  --shadow-color: #e9e6e4;
  --shadow: 0px 0px 0px 2.4px var(--shadow-color),
    0px 0px 2.8px 0px var(--shadow-color);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  direction: rtl;
  background-color: #12131a;
}

@media (max-width: 767px) {
  body {
    overflow-x: hidden;
  }
}

.root-layout {
  width: 100%;
  height: 100%;
  margin-bottom: -25px !important;
  overflow-x: hidden !important;
}

@media (max-width: 767px) {
  .container {
    width: 95% !important;
  }
}

.tShadow {
  text-shadow: 0em 0em 0.3em rgba(0, 0, 0, 0.4);
}

.mark {
  position: relative;
  padding: 0 0 12.5px;
}

.mark::after {
  content: "";
  position: absolute;
  width: 91px;
  height: 12px;
  bottom: 0;
  left: 50%;
  z-index: 7;
  -webkit-transform: translate(-45px);
  -ms-transform: translate(-45px);
  transform: translate(-45px);
  background-color: var(--primary-100);
  -webkit-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url(assets/headline-curve.svg);
  mask-image: url(assets/headline-curve.svg);
}

.mark-z {
  position: relative;
  padding: 0 0 5px;
}

.mark-z::after {
  content: "";
  position: absolute;
  width: 91px;
  height: 12px;
  bottom: -5px;
  left: 50%;
  z-index: 7;
  -webkit-transform: translate(-45px);
  -ms-transform: translate(-45px);
  transform: translate(-45px);
  background-color: #fff;
  -webkit-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-image: url(assets/headline-underline-zigzag.svg);
  mask-image: url(assets/headline-underline-zigzag.svg);
}

@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-15px);
  }
  100% {
    transform: translateY(0);
  }
}

.image-float {
  animation: float 4s ease-in-out infinite;
  cursor: pointer;
}

.image-float:hover {
  scale: 1.1;
}

.gradientBg {
  background: linear-gradient(90deg, #127591 0%, #1ec8f7 100%);
}

.gradientText {
  background: linear-gradient(90deg, #127591 0%, #1ec8f7 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.gradientWhiteBg {
  background: linear-gradient(90deg, #fef6f6 0%, #ffffff 100%);
}

.backgroundImage {
  background-image: url("./assets/auth/bgAuth.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

input {
  font-family: "Tajawal", sans-serif;
}

svg.p-icon.p-dropdown-trigger-icon.p-clickable {
  fill: var(--accent) !important;
  color: var(--accent) !important;
}

.react-international-phone-input-container {
  border-radius: 2.5rem !important;
  padding: 0 10px;
}

.react-international-phone-input-container:focus {
  border-color: #07253d;
  outline: none;
  box-shadow: 0 0 0 2px #07253d;
}

.react-international-phone-country-selector button {
  background-color: transparent !important;
  border: 0px;
  width: 100% !important;
  height: 50px !important;
  margin-right: 15px;
  padding-right: 10px;
}

.react-international-phone-input {
  width: 100% !important;
  height: 50px !important;
  padding-top: 0.75rem !important;
  padding-bottom: 0.75rem !important;
  padding-left: 0.75rem !important;
  padding-right: 0.75rem !important;
  font-size: 1rem !important;
  background-color: transparent !important;
  color: black !important;
  font-family: "Tajawal", sans-serif;
  border: 0px !important;
}

.react-international-phone-country-selector-dropdown {
  display: block;
  margin-left: -240px !important;
}

.recharts-surface {
  cursor: pointer !important;
}

.avgs {
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid var(--Text-Strok, #63778614);
  box-shadow: 0px 4px 8px 0px #0000000a;
}

.p-column-header-content {
  gap: 10px;
}

.p-inputtext {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-inputtext:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-button {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: #e8f0f7;
  color: var(--primary);
  padding: 10px 5px;
}

.p-datatable .p-datatable-thead > tr > th:first-child {
  border-radius: 12px 0 0 12px;
}

.p-datatable .p-datatable-thead > tr > th:last-child {
  border-radius: 0 12px 12px 0;
}

.p-datatable .p-datatable-tbody > tr > td {
  background-color: #0d406903;
  color: #000000e5;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #e0e0e0;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 16px;
  margin-bottom: 10px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #f5f5f5;
}

.p-datatable .p-datatable-footer {
  margin-top: 20px;
}

.p-datatable .p-datatable-tbody > tr {
  margin-bottom: 10px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 12px;
}

.p-paginator-bottom {
  justify-content: flex-end;
  margin-top: 25px;
}

.p-highlight {
  background-color: var(--primary);
  border-radius: 12px;
  color: white;
}

.p-paginator-element {
  color: #000000cc;
}

.p-highlight.p-paginator-element {
  color: white;
}

.p-paginator-prev {
  color: var(--primary);
}

.p-paginator-next {
  color: var(--primary);
}

.p-column-header-content {
  gap: 10px;
}

.p-inputtext {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-inputtext:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-inputtext:enabled:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

span.p-button-label {
  font-weight: 600;
}

.p-button {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-button:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-dropdown {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-dropdown:focus {
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 0.2rem transparent;
  border-color: transparent;
}

.p-datatable .p-datatable-thead > tr > th {
  background-color: #e8f0f7;
  color: var(--primary);
  padding: 10px 5px;
}

.p-datatable .p-datatable-thead > tr > th:first-child {
  border-radius: 12px 0 0 12px;
}

.p-datatable .p-datatable-thead > tr > th:last-child {
  border-radius: 0 12px 12px 0;
}

.p-datatable .p-datatable-tbody > tr > td {
  background-color: #0d406903;
  color: #000000e5;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #e0e0e0;
}

.p-datatable .p-datatable-thead > tr > th {
  padding: 16px;
  margin-bottom: 10px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.p-datatable .p-datatable-tbody > tr:hover {
  background-color: #f5f5f5;
}

.p-datatable .p-datatable-footer {
  margin-top: 20px;
}

.p-datatable .p-datatable-tbody > tr {
  margin-bottom: 10px;
}

.p-datatable .p-datatable-tbody > tr > td {
  padding: 12px;
}

.p-paginator-bottom {
  justify-content: flex-end;
  margin-top: 25px;
}

.p-highlight {
  background-color: var(--primary);
  border-radius: 12px;
  color: white;
}

.p-paginator-element {
  color: #000000cc;
}

.p-highlight.p-paginator-element {
  color: white;
}

.p-paginator-prev {
  color: var(--primary);
}

.p-paginator-next {
  color: var(--primary);
}

li.p-focus {
  background-color: var(--primary);
  border-radius: 6px;
  color: white;
}

.p-dropdown-item-label {
  width: 100%;
  background-color: var(--primary);
  border-radius: 6px;
  color: white;
  padding: 6px 12px;
  transition-duration: 200ms;
}

.p-dropdown-empty-message {
  width: 100%;
  background-color: #fecaca;
  border-radius: 6px;
  color: black;
  padding: 6px 12px;
  transition-duration: 200ms;
}

.p-dropdown-item {
  width: 100%;
  display: flex;
  margin: 6px 0;
}

.p-dropdown-item-label:hover {
  background-color: #fecaca;
}

.code-block {
  overflow: auto;
  white-space: pre-wrap;
}

.landing-section {
  position: relative;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content {
  position: relative;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
  color: white;
  padding: 0 1rem;
  top: -50px;
}

.explore-link {
  display: inline-flex;
  align-items: center;
  color: #ed1c24;
  font-weight: bold;
  text-decoration: none;
}

.explore-link span {
  font-size: 1.5rem;
  margin-left: 0.5rem;
}

.why-choose-us-cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1.5rem;
}

.card {
  background-color: #fff;
  padding: 1.5rem;
  border: 1px solid #e0e0e0;
  border-radius: 14px;
  text-align: left;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
  width: 80px;
  height: 80px;
  margin-bottom: 1rem;
}

.card h3 {
  font-size: 1.25rem;
  color: #061c3d;
}

.card p {
  color: #42526b;
}

.bg-left {
  position: absolute;
  top: 35%;
  left: 5%;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 426px;
  background: rgba(225, 0, 7, 0.7);
  filter: blur(192px);
  z-index: -1;
}

.bg-right {
  position: absolute;
  top: 32%;
  right: -15%;
  width: 330px;
  height: 330px;
  flex-shrink: 0;
  border-radius: 426px;
  background: rgba(255, 152, 0, 0.45);
  filter: blur(55px);
  z-index: -1;
}

.aboutbg-left {
  position: absolute;
  top: 10%;
  left: -15%;
  width: 300px;
  height: 300px;
  flex-shrink: 0;
  border-radius: 426px;
  background: rgba(225, 0, 7, 0.7);
  filter: blur(192px);
  z-index: -1;
}

.aboutbg-right {
  position: absolute;
  top: 16%;
  right: -15%;
  width: 330px;
  height: 330px;
  flex-shrink: 0;
  border-radius: 426px;
  background: rgba(255, 152, 0, 0.45);
  filter: blur(55px);
  z-index: -1;
}

.range-slider::-webkit-slider-runnable-track {
  height: 6px;
  background: #f6babb;
  border-radius: 3px;
}

.range-slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: var(--primary);
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  margin-top: -8px;
}

.range-slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: var(--primary);
  border: 5px solid white;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.testimonial {
  background-image: url("./assets/customers.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.badge {
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.875rem;
}

.badge.warning {
  background-color: #f59e0b30;
  color: #f59e0b;
}

.badge.info {
  background-color: #3b82f630;
  color: #3b82f6;
}

.badge.danger {
  background-color: #ef444430;
  color: #ef4444;
}

.pay-btn {
  background-color: #10b981;
  color: white;
  padding: 6px 12px;
  border-radius: 6px;
  display: flex;
  align-items: center;
  gap: 6px;
  transition: background-color 0.3s;
}

.pay-btn:hover {
  background-color: #059669;
}

.bg-center {
  position: absolute;
  top: -300px;
  left: 43%;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  filter: drop-shadow(17px 130px 140px var(--primary-100));
  z-index: 1;
}

.welcome-text {
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    linear-gradient(90.01deg, #e59cff 0.01%, #ba9cff 50.01%, #9cb2ff 100%);
  background-blend-mode: normal, screen;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.welcome-box {
  isolation: isolate;
  overflow: hidden;
  align-items: center;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  border-radius: 32px;
  box-shadow: inset 0 -7px 11px #a48fff1f;
  display: flex;

  position: relative;
  width: -moz-max-content;
  width: max-content;
  transition: 0.45s cubic-bezier(0.6, 0.6, 0, 1) box-shadow;
}

.liner {
  background-image: linear-gradient(#6c35de 60%, #6e3ac8 40%);
  background-size: 0% 100%;
  transition: all 500ms ease-in-out;
  display: inline;
  background-repeat: no-repeat;
}
.liner:hover {
  background-size: 100% 100%;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
